* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  

}
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
   
}

header{
    background-color: yellow;
}
main{
    display: flex;
    background-color: aqua;
}
footer{
    background-color: blueviolet;
    height: 50px;
}

.gifstyle{
    width: 20%;
}

#battlecamp{
    display: flex;
    flex-direction: column;
   
    width: 400px;
    height: 800px;
}

/*Oponent cards*/
#opcards{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;

}
.playboxcard{
    border-style: solid;
    box-sizing: border-box;
    width: 125px;
    height: 182px ;
    margin-left: 5px;
    margin-right: 0px;
    background-image: url("../images/frontcard.jpg");
    background-size: cover;

}

/*players cards */
#playcards{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    padding-top: 100px;
    align-self: flex-end;
}
/*cards details */

#card1{
    display: flex;
    flex-direction: column;
}

#namepoke{
    border-style: solid;
    box-sizing: border-box;
}

#namepoke>h2{
    padding-left: 4px;
}

#imgpoke{
    padding-left: 10px;
    border-style: solid;
    box-sizing: border-box;
    width: 116px;
    height: 80px ;
    background-image: url("../images/charmander.PNG");
    background-size: cover;
    background-position-y: -13px ;
}

#powerspoke{
    padding-left: 12px;
    
}

#skillspoke{
    padding-top: 5px;
    list-style: none;
    font-size: 86%;
    width: 100px;
    height: 50px;
}

  /*border card player*/  

.bordercard{
    border-style: solid;
    background-color: yellow;
    box-sizing: border-box;
    width: 106px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-image: url("../images/pokecardback.PNG");
    background-size: cover;
}


/*middle lane*/
#middlelane{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
    padding-top: 150px;

}

#scoreboard{
    display: flex;
    flex-direction: column;
    
}

#pokescore{
    border-style: solid;
    
}

#youscore{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
    
}
#youscore>h2{
    margin-right: 10px;
}

#youboxscoreboard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-style: solid;
    box-sizing: border-box;
    width: 65px;
    height: 56px;
    border-radius: 17px;
    
   
}

#opscore {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    
}

#opscore>h2 {
    margin-right: 10px;
}

#opboxscoreboard{
    border-style: solid;
    box-sizing: border-box;
    width: 65px;
    height: 56px;
    border-radius: 17px;
}

#boxround{
    border-style: solid;
    box-sizing: border-box;
    width: 65px;
    height: 56px;
    border-radius: 17px;
    
    
}


/*button game*/
.video-game-button {
    text-align: center;
        display: inline-block;
        margin: 5px;
        font-weight: bold;
        padding: 10px 0 10px 10px;
        background-color: lightgray;
        text-shadow: -1px -1px black, 1px 1px white;
        color: gray;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -o-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 .2em gray;
        cursor: pointer;
    
    }
    
    .video-game-button:active
     {
        box-shadow: none;
        position: relative;
        top: .2em;
    }
