* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  

}
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
   
}

header{
    background-color: yellow;
}
main{
    display: flex;
    background-color: aqua;
}
footer{
    background-color: blueviolet;
}

#battlecamp{
    display: flex;
    width: 375px;
    height: 565px;
}

#playcards{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    
    align-self: flex-end;
    
}
.bordercard{
    border-style: solid;
    background-color: yellow;
    box-sizing: border-box;
    width: 106px;
    height: 150px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-image: url("../images/pokecardback.PNG");
    background-size: cover;
}